/* global classes */

*{
    padding: o;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
}


button, button:focus{
    outline: none !important;
    box-shadow: none !important;
}