$font-baloo:"Baloo Thambi Z",cursive;
$font-raleway:"Raleway",cursive;
$font-rubik:"Rubik",cursive;
$font-lato: 'Lato', sans-serif;;
$color-primary: #146EB4;
$color-second: #efefef;
$color-ash: #F4F6FC;
$color-yellow: #FF9900;